.acciones-container{
    text-align: center;
    font-size: medium;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    
}

.img-acc{
    width: 300px;
    height: 200px;
}